@import '~/assets/scss/variables.scss';

@import '@/node_modules/bootstrap/scss/bootstrap';
@import '@/node_modules/bootstrap-vue/src/index.scss';
@import '@/assets/scss/global';

@import '@/assets/scss/components/highlight1';
@import '@/assets/scss/components/imagereveal2';
@import '@/assets/scss/components/heropanel2';
@import '@/assets/scss/components/simplelist1';
@import '@/assets/scss/components/socialbutton1';
@import '@/assets/scss/components/iconbutton1';

/*
@import '../../../archives/code/collabpanel3/collabpanel3';
@import '../../../archives/code/simplefooter1/simplefooter1';
*/

// https://material-components.github.io/material-components-web-catalog/#/component/ripple

html{
	background-color: #FFFFFF;
}

section{
	min-height: 90vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.page-title,
.page-subtitle{
	text-align: center;
	span{
		padding: 6px 12px;
	}
}
.page-title{
	text-transform: uppercase;
	@include media-breakpoint-up(lg) {
		font-size: 2.5em;
	}
}
.page-subtitle{
	@include media-breakpoint-up(lg) {
		font-size: 1.5em;
	}
}
.page-description{
	font-size: 1.2em;
}

.socialButton1{
	&.observer-activate-once{
		&.active{
			font-size: 12em;
		}
	}
}

#mainHeader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
    width: 100%;
	.navbar-brand{
		img{
			height: 40px;
		}
	}
	.nav-item{
		border-right: solid 1px rgba(#FFFFFF, 0.5);
		padding: 0 12px;
		&:last-of-type{
			border-right: none;
		}
	}
}



/*
//RE-TODO guebbit mixin
$shadowTitle1-size: 0.03em !default;
$shadowTitle1-blur: 2px !default;

.shadowTitle1{
	font-weight:500;
	text-transform: uppercase;
	text-shadow: $shadowTitle1-size $shadowTitle1-size $primary;
	&.inverted{
		text-shadow: $shadowTitle1-size $shadowTitle1-size $secondary;
	}
	&.v2{
		text-shadow: (-$shadowTitle1-size) (-$shadowTitle1-size) $primary;
		&.inverted{
			text-shadow: (-$shadowTitle1-size) (-$shadowTitle1-size) $secondary;
		}
	}
	&.v3{
		text-shadow: $shadowTitle1-size 0 $shadowTitle1-blur $primary,
					 (-$shadowTitle1-size) 0 $shadowTitle1-blur $primary,
					 0 $shadowTitle1-size $shadowTitle1-blur $primary,
					 0 (-$shadowTitle1-size) $shadowTitle1-blur $primary;
		&.inverted{
			text-shadow: $shadowTitle1-size 0 $shadowTitle1-blur $secondary,
						 (-$shadowTitle1-size) 0 $shadowTitle1-blur $secondary,
						 0 $shadowTitle1-size $shadowTitle1-blur $secondary,
						 0 (-$shadowTitle1-size) $shadowTitle1-blur $secondary;
		}
	}
}
*/
