$blogpage1-distance: 60px !default;
$blogpage1-primary-color: $primary-color !default;
$blogpage1-secondary-color: $secondary-color !default;
$blogpage1-table-border-shadow: $blogpage1-primary-color !default;
$blogpage1-table-stripes: #000000 !default;

.blogpage1-body{
	background-color: lighten($blogpage1-primary-color,50%);
	@include prefix((
		background-image: (repeating-linear-gradient(45deg,
									transparent,
									transparent 50px,
									rgba(color("shades","white"),.5) 50px,
									rgba(color("shades","white"),.5) 100px
								)
							)
	), webkit, true);
}

.blogpage1{
	.blog-panel{
	    color:color("grey","darken-4");
		.alertCard1,
		.blog-section{
			margin: $blogpage1-distance auto;
		}
		.blog-section {
			.blog-title{
			    margin-left:-24px;
			    padding-left:24px;
				border-left: 7px solid $blogpage1-primary-color;
			}
			p,
			ul{
				border: 0;
				color: inherit;
				font-family: inherit;
				font-style: inherit;
				font-weight: inherit;
				font-size: 1.3em;
				margin: 0 0 1em 0;
				outline: 0;
				padding: 0 5%;
				vertical-align: baseline;
				line-height: 1.6;
				a{
					font-weight: 500;
					color: darken($blogpage1-primary-color, 7%) !important;
				}
				@include builder_media("small") {
					padding: 0;
					margin: 0 0 1em 0;
				}
			}
			.quote-2 {
				margin: $blogpage1-distance auto;
				border-color: $blogpage1-secondary-color;
				cite,
				&:before,
				&:after {
					color: $blogpage1-secondary-color;
				}
				&.v4{
					background-color: rgba($blogpage1-secondary-color, 0.2);
				}
			}
			&.active,
			&:hover{
				.blog-title{
					border-width: 20px;
					border-color: $blogpage1-secondary-color;
					@include prefix((
						transition: all 1s
					), webkit);
				}
				.quote-2{
					&:before,
					&:after {
						animation: pay-attention 1s infinite;
					}
				}
			}
		}
		.image-interrupt{
			height:250px;
			margin-left: -24px;
			margin-right: -24px;
			overflow: hidden;
			@include prefix((
				width: calc(100% + 48px)
			), webkit);
			img{
				width: 100%;
			}
		}
	}
	table{
		width: 100%;
		margin-top: 60px;
		margin-bottom: 60px;
		box-shadow: 0 5px 5px -3px rgba($blogpage1-table-border-shadow,.2), 0 8px 10px 1px rgba($blogpage1-table-border-shadow,.14), 0 3px 14px 2px rgba($blogpage1-table-border-shadow,.12);
		tr{
			th{
				background-color: rgba($blogpage1-table-border-shadow,.05);
			}
			th,
			td{
				padding: 24px;
				border-bottom-width: 1px;
				border-bottom-color: rgba($blogpage1-table-border-shadow,.1);
				border-bottom-style: solid;
				&:first-of-type{
					padding-left: 24px;
				}
				&:last-of-type{
					padding-right: 24px;
				}
				p{
					margin: 0 !important;
				}
				//TODO TEMP
				@include media-breakpoint-down(lg) {
					display: block;
				}
			}
		}
		&.striped{
			tr{
				td{
					border: none;
				}
				&:nth-child(odd){
					td{
						background-color: rgba($blogpage1-table-stripes,.02);
					}
				}
			}
		}
	}
}
@include keyframes(pay-attention) {
	0%  { transform: translate(0px, 0px) rotate(0deg); }
	50% { transform: translate(0px, 0px) rotate(0deg); }
	70% {
		transform: translate(0px, 0px) rotate(-5deg);
	}
	90% {
		transform: translate(0px, 0px) rotate(5deg);
	}
}
